.vscode/**
.vscode-test/**
src/**
node_modules/**
.eslintrc.json
**/*.ts
**/*.map
tsconfig.json
esbuild.config.mjs
.gitignore
pnpm-lock.yaml
pnpm-workspace.yaml
test/**
*.test.*
.github/**
.claude/**
.codegraph/**
azure-pipelines.yml
